<html>
<head>
    <title>Kneequery</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,
initial-scale=1, shrink-to-fit=no">

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% load static %}
<link rel="stylesheet" href="{% static 'main.css'%}">

</head>
<body>
<header>
        <div class="header" role="alert">
        {% if user.is_authenticated %}
            <p>Hi, {{ user.username }}! <a href="{% url 'logout' %}">Log Out</a></p>
        {% else %}
            <p>You are not logged in. <a href="{% url 'admin:login' %}">Log In</a></p>
        {% endif %}
            <p>
                <a href="{% url 'queue' %}" class="btn btn-primary" role="button">Queue</a>
                <a href="{% url 'patients' %}" class="btn btn-primary" role="button">Patients</a>
                <a href="{% url 'admin:index' %}" class="btn btn-primary" role="button">Admin</a>
            </p>

<form action="{% url 'search'  %}">
    <div class="input-group mb-3">
        <input type="search" name="query" class="form-control" placeholder="e.g. Ivanov">
        <div class="input-group-append">
            <button class="btn btn-outline-primary" type="submit">Search</button>
        </div>
    </div>
</form>

        </div>
    </header>
<div class="container-fluid">
    <div>
        {% block content %}
        {% endblock content %}
    </div>
</div>
</body>
</html>