{% extends 'base.html' %}

{% block content %}
<div class="card bg-light mb-3">
  <div class="card-body">
    <h2 class="card-title">{{object.name}}</h2>
    <div class="card-text">
        {% if object.is_in_queue %}
        <div># {{object.position_in_queue}} in Queue
        <a class="btn btn-danger btn-sm ml-2" href="{% url 'delete_from_queue' object.id %}" role="button">Delete patient from queue</a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'add_to_queue' object.id %}" role="button">Add patient to queue</a>
        {% endif %}
        </div>
          <br>
        <table class="table compact-table">
            <tbody>
                <tr class="compact">
                    <th scope="row">Age</th>
                    <td>{{object.age}}</td>
                </tr>
                <tr class="compact">
                    <th scope="row">Address</th>
                    <td>{{object.address}}</td>
                </tr>
                <tr class="compact">
                    <th scope="row">Number</th>
                    <td>{{object.number}}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <a class="btn btn-outline-dark" href="{% url 'admin:dj_kneequery_patient_change' object.id %}" role="button">Change personal info</a>
    </div>
  </div>
</div>

<div class="card bg-light mb-3">
  <h6 class="card-header text-muted">
      <div class="float-left mt-2">Operations</div>
        <a class="btn btn-primary float-right" href="{% url 'create_operation' object.id %}" role="button">Add Operation</a>
  </h6>
  <div class="card-body">
    <h2 class="card-title"></h2>
    <div class="card-text">
        {% if object.operations %}
    {% for operation in object.operations %}
<div class="operation">
    <h3>{{ operation.name }}</h3>
    <div class="text-muted">Оперирован {{ operation.date }}</div>
    <p>{{ operation.description }}</p>
    <a class="btn btn-outline-dark" href="{% url 'admin:dj_kneequery_operation_change' operation.id %}" role="button">Change operation info</a>
    <br><br>
    <details>
        <summary class="btn btn-primary"><div class="d-inline">Details</div></summary>
    {% for tr in operation.tranexamamount_set.all %}
        <h5 class="mt-4">Введено транексама: <a class="btn btn-outline-secondary" href="{% url 'admin:dj_kneequery_tranexamamount_change' tr.id %}" role="button">{{tr.amount}}</a></h5>
        {% for t in tr.tranexamhb_set.all %}
            <table class="table compact-table">
                <tbody>
                    <tr class="compact">
                        <th scope="row"><a href="{% url 'admin:dj_kneequery_tranexamhb_change' t.id %}">{{t.lag}} h</a></th>
                        <td><a href="{% url 'admin:dj_kneequery_tranexamhb_change' t.id %}">{{t.hb}}</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'admin:dj_kneequery_tranexamhb_delete' t.id %}" role="button">X</a></td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
        <p><a class="btn btn-info" href="{% url 'create_tranexamhb' tr.id %}" role="button">Add Hb evaluation</a></p>
    {% endfor %}
    {% for rp in operation.rupivacainamount_set.all %}

    <h5 class="mt-4">Введено рупивакаина: <a class="btn btn-outline-secondary" href="{% url 'admin:dj_kneequery_rupivacainamount_change' rp.id %}" role="button">{{rp.amount}}</a></h5>
        {% for p in rp.rupivacainpain_set.all %}
            <table class="table compact-table">
                <tbody>
                    <tr class="compact">
                        <th scope="row"><a href="{% url 'admin:dj_kneequery_rupivacainpain_change' p.id %}">{{p.lag}} h</a></th>
                        <td><a href="{% url 'admin:dj_kneequery_rupivacainpain_change' p.id %}">{{p.vas}}</a></td>
                        <td><a class="btn btn-danger btn-sm" href="{% url 'admin:dj_kneequery_rupivacainpain_delete' p.id %}" role="button">X</a></td>
                    </tr>
                </tbody>
            </table>
        {% endfor %}
        <p><a class="btn btn-info" href="{% url 'create_rupivacainpain' rp.id %}" role="button">Add pain evaluation</a></p>
    {% endfor %}
</div>
    {% endfor %}

  </details>
{% else %}
<div class="alert alert-secondary" role="alert">
    Не оперирован <a class="btn btn-outline-secondary" href="{% url 'create_operation' object.id %}" role="button">Add operation info</a>
</div>
{% endif %}
    </div>
  </div>
</div>

<div class="card bg-light mb-3">
  <h6 class="card-header text-muted">
      <div class="float-left mt-2">Examinations</div>
      <a class="btn btn-primary float-right" href="{% url 'create_examination' object.id %}" role="button">Add Examination</a>
  </h6>
  <div class="card-body container-fluid">
    <div class="card-text">
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Date</th>
        <th scope="col">Weight</th>
        <th scope="col">Height</th>
        <th scope="col">BMI</th>
        <th scope="col">Joint</th>
        <th scope="col">Arthrosis Stage</th>
        <th scope="col">WOMAC</th>
        <th scope="col">Joseph & Kaufmann</th>
        <th scope="col">KSS</th>
        <th scope="col">Category</th>
    </tr>
    </thead>
    <tbody>
    {% for e in object.examination_set.all %}
        <tr>
            <th scope="row"><a href="{% url 'admin:dj_kneequery_examination_change' e.id %}">{{ forloop.counter }}</a></th>
            <td><a href="{% url 'admin:dj_kneequery_examination_change' e.id %}">{{e.date}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_antropometry_change' e.antropometry.id %}">{{e.antropometry.weight}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_antropometry_change' e.antropometry.id %}">{{e.antropometry.height}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_antropometry_change' e.antropometry.id %}">{{e.antropometry.bmi}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_examination_change' e.id %}">{% if e.joint == "l" %}left{% else %}right{% endif %}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_examination_change' e.id %}">{{e.arthrosis_stage}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_womac_change' e.womac.id %}">{{e.womac.score}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_jk_change' e.jk.id %}">{{e.jk.score}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_kss_change' e.kss.id %}">{{e.kss.score}}</a></td>
            <td><a href="{% url 'admin:dj_kneequery_kss_change' e.kss.id %}">{{e.kss.category}}</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>
  </div>
</div>


{% endblock content %}

