.header {
    color: #004085;
    background-color: #cce5ff;
    position: relative;
    padding: 15px;
    margin-bottom: 1rem;
}

.container-fluid {
    overflow: auto;
}

.compact-table {
    width: auto;
    margin-bottom: 0;
}

.compact-table tbody tr th {
    padding-left: 0;
}

.compact th, .compact td {
    padding-top: 0.25rem;
    border: 0;
    vertical-align: middle;
}

.compact-table thead tr th, .compact-table thead tr td {
    border-top: 0;
}

.operation {
    padding: 35px 0 25px 0;
    border-bottom: 1px solid rgba(0,0,0,.1);
}

.operation:first-child {
    padding-top: 0;
}

.operation:last-child {
    border: 0;
    padding-bottom: 0;
}