{% extends 'base.html' %}

{% block content %}
    <a class="btn btn-info" href="{% url 'admin:dj_kneequery_patient_add' %}" role="button">Add new patient</a>
    <br><br>
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col"><a href="{% url 'patients' %}?order={{ filter_name }}">Name</a></th>
        <th scope="col" class="d-none d-lg-table-cell text-center"><a href="{% url 'patients' %}?order={{ filter_age }}">Age</a></th>
        <th scope="col" class="d-none d-lg-table-cell text-center"><a href="{% url 'patients' %}?order={{ filter_operated }}">Operated</a></th>
        <th scope="col" class="d-none d-lg-table-cell text-center"><a href="{% url 'patients' %}?order={{ filter_womac }}">WOMAC</a></th>
        <th scope="col" class="d-none d-lg-table-cell text-center"><a href="{% url 'patients' %}?order={{ filter_jk }}">Joseph & Kaufmann</a></th>
        <th scope="col" class="text-center"><a href="{% url 'patients' %}?order={{ filter_KSS }}">KSS</a></th>
        <th scope="col" class="text-center"><a href="{% url 'patients' %}?order={{ filter_category }}">Category</a></th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
        {% for patient in object_list %}
        <tr>
            <th scope="row" class="align-middle">{{ forloop.counter }}</th>
            <td class="align-middle"><a href="{% url 'detailed_patients' patient.id %}">{{patient.name}}</a></td>
            <td class="d-none d-lg-table-cell text-center align-middle">{{patient.age}}</td>

            {% if patient.operated %}
                <td class="d-none d-lg-table-cell text-center align-middle">+</td>
            {% else %}
                <td class="d-none d-lg-table-cell text-center align-middle">-</td>
            {% endif %}

            {% if patient.womac %}
                <td class="d-none d-lg-table-cell text-center align-middle">{{patient.womac}}</td>
            {% else %}
                <td class="d-none d-lg-table-cell text-center align-middle">-</td>
            {% endif %}

            {% if patient.jk %}
                <td class="d-none d-lg-table-cell text-center align-middle">{{patient.jk}}</td>
            {% else %}
                <td class="d-none d-lg-table-cell text-center align-middle">-</td>
            {% endif %}

            {% if patient.kss %}
                <td class="text-center align-middle">{{patient.kss}}</td>
            {% else %}
                <td class="text-center align-middle">-</td>
            {% endif %}

            {% if patient.category %}
                <td class="text-center align-middle">{{patient.category}}</td>
            {% else %}
                <td class="text-center align-middle">-</td>
            {% endif %}

            <td><a class="btn btn-danger btn-delete" href="{% url 'admin:dj_kneequery_patient_delete' patient.id %}" role="button">x</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}