{% extends 'base.html' %}

{% block content %}
<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col" class="text-center">Age</th>
        <th scope="col" class="text-center">WOMAC</th>
        <th scope="col" class="text-center">KSS</th>
        <th scope="col" class="text-center">Category</th>
    </tr>
    </thead>
    <tbody>
        {% for patient in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'detailed_patients' patient.id %}">{{patient.name}}</a></td>
            <td class="text-center">{{patient.age}}</td>
            <td class="text-center">{{patient.womac}}</td>
            <td class="text-center">{{patient.kss}}</td>
            <td class="text-center">{{patient.category}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}