{% extends 'base.html' %}

{% block content %}

<table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
    </tr>
    </thead>
    <tbody>
        {% for patient in object_list %}
        <tr>
            <th scope="row">{{ forloop.counter }}</th>
            <td><a href="{% url 'detailed_patients' patient.id %}">{{patient.name}}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock content %}